/* HTML Elements */
body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(33, 41, 46); */
    color: whitesmoke;
    text-align: center;
    /* overflow-x: hidden; */
}
svg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}



/* Intro Screen */
#intro-door{
    background-color: rgb(2, 15, 25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: background-color 1s ease-in 0.2s, opacity 1s;
}
.doorway{
    background-color: #333;
    position: relative;
    width: 20vw; /* 200px */
    height: 60vh; /* 300px */
    margin: 0 auto;
    margin-top: 100px;
    transition: width 1s ease-out, height 1s ease-out;
}
.door{
    background-color: rgb(135, 33, 33);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: all 1s ease-in-out;
}
.doorway:hover, .door:hover{
    cursor: pointer;
}
.doorOpen{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
#nameplate{
    background-color: rgb(92, 14, 14);
    /* position: absolute; */
    position: relative;
    height: 8vh;
    width: 8vw;
    /* top: 30vh;
    left: 62vw; */
    margin: 0 auto;
    top: 20%;
    transition: opacity 2.5s ease-in;
    font-weight: bold;
}



/* Main Room */
#main-room{
    background-color: rgb(33, 41, 46);
    position: absolute;
    height: 100%;
    width: 100%;
}
#IM-icon{
    background-color: transparent; /* blueviolet */
    position: absolute;
    top: 42vh;
    left: 42vw;
    height: 12vh;
    width: 6vw;
}
#academics-icon{
    background-color: transparent; /* yellow */
    position: absolute;
    top: 46vh;
    left: 51vw;
    height: 9vh;
    width: 7vw;
}
#IM-icon:hover, #academics-icon:hover{
    cursor: pointer;
}
#main-doorway{
    background-color: transparent; /* rgb(24,20,22) */
    width: 21vw;
    height: 70vh;
    position: absolute;
    top: -1vh;
    left: 6vw;
    /* margin-top: 120px;
    margin-left: 15px; */
}



/* IM Projects (expanded) */
#IM-projects{
    background-color: rgb(124, 81, 146);
    position: absolute;
    height: 100%;
    width: 100%;
}
#project-back{
    position: absolute; top: 30vh; left: 35vw; height: 40vh; width: 30vw; background-color: lightgrey;
}
.project{
    position: absolute;
    background-color: rgb(52,68,76);
    height: 100px;
    width: 150px;
    transition: height 1s, width 1s, background-color 1s, font-size 1s;
    border: 2px solid rgb(49, 27, 17);
}
.project:hover{
    height: 300px;
    width: 450px;
    background-color: rgb(85, 119, 141);
    font-size: xx-large;
    cursor: pointer;
}



/* Academics (expanded) */
#academics{
    background-color: rgb(203, 92, 61);
    position: absolute;
    height: 100%;
    width: 100%;
}



/* Bedroom */
#bedroom{
    background-color: rgb(77, 59, 50);
    position: absolute;
    height: 100%;
    width: 100%;
}
#PC{
    background-color: transparent; /* rgb(46, 46, 46) */
    position: absolute;
    height: 15vh;
    width: 14vw;
    top: 41vh;
    left: 68vw;
}
#PC:hover{
    cursor: pointer;
}
#return-doorway{
    background-color: transparent; /* rgb(47, 2, 25) */
    width: 21vw;
    height: 70vh;
    position: absolute;
    top: -1vh;
    left: 6vw;
    /* margin-top: 120px;
    margin-left: 15px; */
}



/* Desktop */
#desktop{
    background-color: rgb(166, 228, 230);
    position: absolute;
    height: 100%;
    width: 100%;
}
.desktop-icon{
    position: absolute;
    max-height: 16vh;
    max-width: 16vh;
}
.desktop-icon:hover{
    cursor: pointer;
}
#recycle{
    top: 2%;
    left: 2%;
}
#folder{
    max-width: 15vh;
    top: 22%;
    left: 1.5%;
}
#chrome{
    max-width: 14vh;
    top: 42%;
    left: 1.5%;
}
#youtube{
    top: 62%;
    left: 1%;
}
#open-directory{
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    border: 1px solid black;
    position: absolute;
    top: 20vh;
    left: 20vw;
    height: 60vh;
    width: 60vw;
    padding: 20px;
}
.explorer-icon{
    max-width: 10%;
    max-height: 20%;
    transition: max-width 1s, max-height 1s;
}
.explorer-icon:hover{
    max-width: 40%;
    max-height: 40%;
}
#mariah{
    /* display: none; */
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 15%;
    left: 25%;
}



#shutdown{
    top: 2%;
    right: 1%;
    height: 8vh;
    width: 8vh;
}
.exit{
    background-color: rgb(236, 20, 20);
    position: absolute;
    height: 10vh;
    width: 10vw;
    top: 0;
    right: 0;
}
.exit:hover{
    cursor: pointer;
}



/* Misc. Animation/Positioning classes */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}
.hidden{
    display: none;
}