/* HTML Elements */
body{
    margin: 0;
    padding: 0;
    /* background-color: rgb(33, 41, 46); */
    color: whitesmoke;
    text-align: center;
    /* overflow-x: hidden; */
}



/* Intro Screen */
#intro-door{
    background-color: rgb(2, 15, 25);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: background-color 1s ease-in 0.2s, opacity 1s;
}
.doorway{
    background-color: #333;
    position: relative;
    width: 20vw; /* 200px */
    height: 60vh; /* 300px */
    margin: 0 auto;
    margin-top: 100px;
    transition: width 1s ease-out, height 1s ease-out;
}
.door{
    background-color: rgb(135, 33, 33);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: all 1s ease-in-out;
}
.doorway:hover, .door:hover{
    cursor: pointer;
}
.doorOpen{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
#nameplate{
    background-color: rgb(92, 14, 14);
    /* position: absolute; */
    position: relative;
    height: 8vh;
    width: 8vw;
    /* top: 30vh;
    left: 62vw; */
    margin: 0 auto;
    top: 20%;
    transition: opacity 2.5s ease-in;
    font-weight: bold;
}



/* Main Room */
#main-room{
    background-color: rgb(33, 41, 46);
    position: absolute;
    height: 100%;
    width: 100%;
}
#IM-icon{
    background-color: blueviolet;
    position: absolute;
    top: 25vh;
    left: 30vw;
    height: 10vh;
    width: 8vw;
}
#academics-icon{
    background-color: yellow;
    position: absolute;
    top: 25vh;
    left: 40vw;
    height: 10vh;
    width: 8vw;
}
#IM-icon:hover, #academics-icon:hover{
    cursor: pointer;
}
#main-doorway{
    background-color: rgb(24,20,22);
    width: 20vw;
    height: 60vh;
    margin-top: 120px;
    margin-left: 15px;
}



/* IM Projects (expanded) */
#IM-projects{
    background-color: rgb(124, 81, 146);
    position: absolute;
    height: 100%;
    width: 100%;
}
#project-back{
    position: absolute; top: 30vh; left: 35vw; height: 40vh; width: 30vw; background-color: lightgrey;
}
.project{
    position: absolute;
    background-color: rgb(52,68,76);
    height: 100px;
    width: 150px;
    transition: height 1s, width 1s, background-color 1s;
    border: 2px solid rgb(49, 27, 17);
}
.project:hover{
    height: 200px;
    width: 300px;
    background-color: rgb(85, 119, 141);
    cursor: pointer;
}



/* Academics (expanded) */
#academics{
    background-color: rgb(203, 92, 61);
    position: absolute;
    height: 100%;
    width: 100%;
}



/* Bedroom */
#bedroom{
    background-color: rgb(77, 59, 50);
    position: absolute;
    height: 100%;
    width: 100%;
}
#PC{
    background-color: rgb(46, 46, 46);
    position: absolute;
    height: 20vh;
    width: 20vw;
    top: 20vh;
    left: 60vw;
}
#PC:hover{
    cursor: pointer;
}
#return-doorway{
    background-color: rgb(47, 2, 25);
    width: 20vw;
    height: 60vh;
    margin-top: 120px;
    margin-left: 15px;
}



/* Desktop */
#desktop{
    background-color: rgb(166, 228, 230);
    position: absolute;
    height: 100%;
    width: 100%;
}


.exit{
    background-color: rgb(236, 20, 20);
    position: absolute;
    height: 10vh;
    width: 10vw;
    top: 0;
    right: 0;
}
.exit:hover{
    cursor: pointer;
}



/* Misc. Animation/Positioning classes */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
}